# Ignore local environment credentials
.env
!.env.example

# Machine-specific course symlinks
courses/CSC6002

# Ignore large raw assignment datasets
*.csv
*.tsv
*.json

# Ignore compiled python artifacts and models
**/__pycache__/
*.pkl
ml/model_artifacts/

# Editor temporary swap files
*.swp
*~
.*.swp

# Local course database and cluster storage blocks
infra/mongo_data/
infra/postgres_data/
infra/hadoop_data_local/
infra/hadoop_data/
infra/hadoop_config/
.docker-compose.yml.kate-swp

# Ignore the data directory contents, but allow Git to look inside the folder itself
data/*
!data/mongo_coursework.json

# Whitelist your new automated database collection dumps folder
!data/mongodb_dumps/
!data/mongodb_dumps/*
.*.swp
