# Ignore local environment credentials
.env

# Machine-specific course symlinks
courses/CSC6002

# Ignore large raw assignment datasets
*.csv
*.tsv
*.json

# Ignore compiled python artifacts and models
**/__pycache__/
*.pkl
ml/model_artifacts/

# Local course database and cluster storage blocks
infra/mongo_data/
infra/hadoop_data_local/
infra/hadoop_data/
infra/hadoop_config/
.docker-compose.yml.kate-swp
